/* Style général pour les labels */
.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Style pour les titres */
.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #0056b3;
    -fx-padding: 10 0 20 0;
    -fx-alignment: center;
}

/* Style des ComboBox */
.combo-box {
    -fx-pref-width: 200px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Style des TextField */
.text-field {
    -fx-pref-width: 200px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

/* Style des boutons */
.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.button:pressed {
    -fx-background-color: #003e7e;
}
